h1{
    color: lightblue;
    font-family: arial;
    font-size: 50px;
    text-align: center;
}


p{
    text-indent: 30px;
    line.height: 1.5;
    font-size: 16px;
    color: royalblue;
    font-family: verdana;  }

li{
    color: cornflowerblue;
    font-size: 12px;
    font-family: cursive;}

    img {
        width: 200px;
        height: 200px;
        border-radius: 50px;

        /*Menengahkan Gambar*/
        display: blok;
        margin: 0px auto 0px auto;
    }

    /*selector digunakan untuk memilih mana bagian dari HTML yang akan diubah*/
    /*syntax CSS adalah selector{properties: value;}*/

    /*selector dengan nama tag*/
    h1{
        color: rgb(118, 204, 244);
    }

    /*selector class*/
    .tengah{
        align-self: center;
        color: rgb(255, 106, 0);
    }

    /*Multy selector*/
    h2, h3, h4{ 
        color: midnightblue;
    }
    
    /*lebih sepesifik lagi bisa*/ 
    h2.tengah{ 
        color: pink;
    }

    a:link{
        color:midnightblue;
    }
    a:visited{
        color:green;
    }
    a:hover{
        color:orange;
    }
    a:active{
        color: darkcyan;
    }
    
    .button{
        border-radius: 5px;
        border: none;
        background-color: midnightblue;
        color: #FFF;
        text-align: center;
        font-size: 28px;
    }
    
    .button:hover {background-color: orange;}
    
    .button:active  {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
    }